Repository marc-fez/open_sanctions: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, yamllint

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

yamllint:
  name: yamllint
  language: system
  entry: yamllint

add main and fastapi
  .envrc
  app/__init__.py
  app/config.py
  app/main.py
  setup.cfg
Due: isort, black, flake8

add README
  README.md
Due: none

add Docker stuff
  .dockerignore
  Dockerfile
  Pipfile
  Pipfile.lock
  app/config.py
  db/Dockerfile
  db/create.sql
  docker-compose.yml
  entrypoint.sh
  setup.cfg
Due: isort, black, flake8, yamllint

add .yamllint config file
  .yamllint
  docker-compose.yml
Due: yamllint

remove .envrc from git
  .envrc
  .gitignore
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  yamllint: any of: \.(yaml|yml)$
